[Desktop Entry]
Name=NordVPN
Comment=Krunner addon for NordVPN cli. Visit https://github.com/alex1701c/NordVPNKrunner for more information.
Icon=nordvpn
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_nordvpn
X-KDE-PluginInfo-Author=Alex1701c
X-KDE-PluginInfo-Email=alex1701c.dev@gmx.net
X-KDE-PluginInfo-Name=nordvpn
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL 2.1+
X-KDE-PluginInfo-EnabledByDefault=true
